// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
#background-color {
    background-color: #ffffff;
    color: #232323;
}

body {
    background-color: #ffffff !important;
    color: #232323 !important;
}

h2 {
    color: #999C57;
}

// 232323 dark green
// 999C57 light green