h1 {}

h2 {
    font-family: 'League Script', cursive !important;
}

h3 {
    font-family: 'Lato', sans-serif !important;
}

h4 {
    font-family: 'Lato', sans-serif !important;
}

p {
    font-family: 'Lato', sans-serif !important;
}

li {
    font-family: 'Lato', sans-serif !important;
}