#accueil {
    z-index: 1;
    .navigation-title {
        padding-left: 15px;
        margin: 0;
    }
    h3 {
        padding-left: 15px;
        margin-top: 15px;
    }
    // .suitcase-icon {
    //     width: 65px;
    //     @media all and (min-height: 580px) {
    //         width: 85px;
    //     }
    // }
    p {
        margin-left: 15px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin: 20px;
            margin-left: 15px;
            @media all and (min-height: 750px) {
                margin: 30px;
                margin-left: 15px;
            }
        }
    }
}