#ateliers-index {
    z-index: 1;
    height: auto;
    max-height: min-content;
    h2 {
        padding-top: 50px;
        padding: 0 auto;
        background-color: rgb(153, 156, 87);
        color: #ffffff !important;
        text-align: center;
        margin: 0;
    }
    .introduction {
        text-align: center;
        width: 90%;
        margin: 10px auto;
    }
    .get-clickable {
        z-index: 1000;
    }
    .atelier {
        padding: 20px;
        width: 90%;
        background-color: rgba(153, 156, 87, 0.1);
        border: 2px solid rgba(245, 245, 245, 0.6);
        color: #232323;
        margin: 0 auto;
        margin-bottom: 15px;
        h3 {
            margin: 0;
        }
        p {
            margin: 0;
        }
        .description {
            margin: 10px 0;
        }
        .price {
            font-style: italic;
            color: #999C57;
        }
    }
}

#particuliers {
    z-index: 1;
    margin-bottom: 80px;
    .container-left {
        padding: 20px;
        width: 90%;
        background-color: rgba(153, 156, 87, 0.1);
        border: 2px solid rgba(245, 245, 245, 0.6);
        color: #232323;
    }
    .container-right {
        text-align: end;
        margin: 50px 0px;
        margin-left: auto;
        padding: 20px;
        width: 90%;
        background-color: rgba(153, 156, 87, 0.1);
        border: 2px solid rgba(245, 245, 245, 0.6);
        color: #232323;
    }
    .learn-more {
        font-style: italic;
        color: #999C57;
    }
}