#brasseurs {
    margin-bottom: 80px;
    z-index: 1;
    #carouselExampleIndicators {
        width: 100%;
        height: 300px;
        .carrousel-picture {
            width: 100%;
            height: 300px;
        }
        .carousel-caption {
            color: #232323;
            text-align: start;
            width: 100%;
        }
        .caption-sentence {
            position: absolute;
            bottom: 45px;
            left: 20px;
            // z-index: 1;
            color: #232323;
            margin: 0;
            // width: 100%;
        }
        .carousel-control-prev {
            width: 50%;
        }
        .carousel-control-next {
            width: 50%;
        }
    }
}