// Specific CSS for your home-page
.landing-page {
    .imgbox {
        // display: grid;
        height: 100%;
    }
    .landing-picture {
        object-fit: fill;
        // max-height: 100vh;
        // max-width: 100%;
        // margin: auto;
        // z-index: -100;
        /* Set rules to fill background */
        min-height: 100%;
        max-width: 640px;
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }
    h1 {
        font-size: 30px;
        padding: 10px 25px;
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;
        border: 1px solid #FFFAFA;
        text-align: center;
    }
    h2 {
        font-size: 22px;
    }
    h1,
    h2 {
        color: #FFFAFA;
        text-align: center;
    }
    .landing-text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}