<div id="background-color">
  <div class="landing-page">
    <div class="imgbox">
      <%= image_tag 'houblon.jpg', :class => 'landing-picture' %>
      <div class="landing-text">
        <h1>HOPPYZ</h1>
        <h3>Les rencontres de la bière</h3>
      </div>
      <div class="arrow bounce">
        <%= image_tag 'arrow-down.png', :class => 'arrow-down' %>
      </div>
    </div>
  </div>
  <div class="accueil">
    <h2 class="navigation-title fancy"><span>ACCUEIL</span></h2>
    <h3>Apprendre avec le gout</h3>
    <%= image_tag 'suitcase.png', :class => 'suitcase-icon' %>
    <ul>
      <li>Voyages gustatifs</li>
      <li>Rencontres</li>
      <li>Plaisirs</li>
    </ul>
  </div>
  <div class="particuliers">
    particuliers
  </div>
