<div class="landing-page">
  <div class="imgbox">
    <%= image_tag 'houblon.jpg', :class => 'landing-picture' %>
    <div class="landing-text">
      <h1>HOPPYZ</h1>
      <h2>Les rencontres de la bière</h2>
    </div>
    <div class="xx">
    <%= image_tag 'arrow-down.png', :class => 'arrow-down' %>
    </div>
  </div>
</div>
