<div id="background-color">
  <div class="landing-page">
    <div class="imgbox">
      <%= image_tag 'houblon.jpg', :class => 'landing-picture' %>
      <div class="landing-text">
        <h1>HOPPYZ</h1>
        <h3>Les rencontres de la bière</h3>
      </div>
      <div class="arrow bounce">
        <%= image_tag 'arrow-down.png', :class => 'arrow-down' %>
      </div>
    </div>
  </div>

  <div id="accueil" class="adapt-height-to-content">
    <h2 class="navigation-title">Accueil</h2>
    <h3 class="subtitle">Apprendre avec le goût</h3>
    <p>HOPPYZ vous fera découvrir le fabuleur monde de la bière à travers des ateliers de dégustations accompagnés de succulents mets ainsi que des formations. Ces activités s'addressent à toute personne majeure.</p>
    <ul class="">
      <li>Voyages gustatifs</li>
      <li>Rencontres</li>
      <li>Plaisirs</li>
    </ul>
  </div>

  <div id="back-to-top-anchor">
    <%= image_tag 'arrow-up.png', :class => 'arrow-up' %>
  </div>

</div>
