<p>Connecté en tant que <%= current_user.email %></p>

<h1>Crée une formation ici :</h1>

<div class="form">
  <%= simple_form_for [@user, @formation] do |f| %>
    <%= f.error_notification %>
  <% end %>
</div>

