#back-to-top-anchor {
    position: sticky;
    position: -webkit-sticky;
    background: transparent;
    top: 87%;
    z-index: 10;
    .arrow-up {
        position: absolute;
        right: 5%;
        top: 0;
        width: 30px;
        border: 1px solid #677544;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        padding: 5px;
        margin: 15px;
    }
}