.fancy {
    // line-height: 0.5;
    //     position: absolute;
    //     width: 100%;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    text-align: center;
}

.fancy span {
    display: inline-block;
    position: relative;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 15px;
    width: -webkit-fill-available;
    max-width: 600px;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}